<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<integer>0</integer>
		<string>No Toppers</string>
		<string>Nothing</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>0</integer>
		<string>Ball Toppers</string>
		<string>AntennaBall</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>0</integer>
		<string>Star Toppers</string>
		<string>AntennaStar</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>1</integer>
		<string>Tiny Eyes</string>
		<string>EyesTiny</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>1</integer>
		<string>Big Eyes</string>
		<string>EyesBig</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>1</integer>
		<string>Mixed Eyes</string>
		<string>EyesMix</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>1</integer>
		<string>Single Eye</string>
		<string>EyesSingle</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>21</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>21</integer>
		<string>SKY</string>
		<string>Sky</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>25</integer>
		<string>ESCAPE</string>
		<string>Escape</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>25</integer>
		<string>CRYSTAL</string>
		<string>Crystal</string>
		<string>{1.0, 1.0, 1.0}</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</array>
</plist>
