<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>ButtonCircle.png</key>
		<dict>
			<key>x</key>
			<real>595</real>
			<key>y</key>
			<real>549</real>
			<key>width</key>
			<real>62</real>
			<key>height</key>
			<real>62</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>62</real>
			<key>originalHeight</key>
			<real>62</real>
		</dict>
		
		<key>ButtonLarge.png</key>
		<dict>
			<key>x</key>
			<real>595</real>
			<key>y</key>
			<real>661</real>
			<key>width</key>
			<real>187</real>
			<key>height</key>
			<real>82</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>187</real>
			<key>originalHeight</key>
			<real>82</real>
		</dict>
		
		<key>ButtonNormal.png</key>
		<dict>
			<key>x</key>
			<real>595</real>
			<key>y</key>
			<real>401</real>
			<key>width</key>
			<real>157</real>
			<key>height</key>
			<real>72</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>157</real>
			<key>originalHeight</key>
			<real>72</real>
		</dict>
		
		<key>ButtonSmall.png</key>
		<dict>
			<key>x</key>
			<real>595</real>
			<key>y</key>
			<real>475</real>
			<key>width</key>
			<real>97</real>
			<key>height</key>
			<real>72</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>72</real>
		</dict>
		
		<key>InterfaceArrowLeft.png</key>
		<dict>
			<key>x</key>
			<real>694</real>
			<key>y</key>
			<real>475</real>
			<key>width</key>
			<real>66</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>66</real>
			<key>originalHeight</key>
			<real>39</real>
		</dict>
		
		<key>InterfaceArrowRight.png</key>
		<dict>
			<key>x</key>
			<real>694</real>
			<key>y</key>
			<real>516</real>
			<key>width</key>
			<real>66</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>66</real>
			<key>originalHeight</key>
			<real>39</real>
		</dict>
		
		<key>InterfaceBackground.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>480</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>480</real>
		</dict>
		
		<key>InterfaceBoost.png</key>
		<dict>
			<key>x</key>
			<real>595</real>
			<key>y</key>
			<real>613</real>
			<key>width</key>
			<real>46</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>46</real>
			<key>originalHeight</key>
			<real>46</real>
		</dict>
		
		<key>InterfaceDescript.png</key>
		<dict>
			<key>x</key>
			<real>676</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>332</real>
			<key>height</key>
			<real>112</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>332</real>
			<key>originalHeight</key>
			<real>112</real>
		</dict>
		
		<key>InterfaceDescription.png</key>
		<dict>
			<key>x</key>
			<real>499</real>
			<key>y</key>
			<real>229</real>
			<key>width</key>
			<real>332</real>
			<key>height</key>
			<real>170</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>332</real>
			<key>originalHeight</key>
			<real>170</real>
		</dict>
		
		<key>InterfaceGear.png</key>
		<dict>
			<key>x</key>
			<real>770</real>
			<key>y</key>
			<real>517</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>InterfaceInfo.png</key>
		<dict>
			<key>x</key>
			<real>676</real>
			<key>y</key>
			<real>114</real>
			<key>width</key>
			<real>231</real>
			<key>height</key>
			<real>100</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>231</real>
			<key>originalHeight</key>
			<real>100</real>
		</dict>
		
		<key>InterfaceInfoFill.png</key>
		<dict>
			<key>x</key>
			<real>676</real>
			<key>y</key>
			<real>216</real>
			<key>width</key>
			<real>164</real>
			<key>height</key>
			<real>10</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>164</real>
			<key>originalHeight</key>
			<real>10</real>
		</dict>
		
		<key>InterfaceLock.png</key>
		<dict>
			<key>x</key>
			<real>659</real>
			<key>y</key>
			<real>557</real>
			<key>width</key>
			<real>51</real>
			<key>height</key>
			<real>57</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>51</real>
			<key>originalHeight</key>
			<real>57</real>
		</dict>
		
		<key>InterfaceMark.png</key>
		<dict>
			<key>x</key>
			<real>754</real>
			<key>y</key>
			<real>401</real>
			<key>width</key>
			<real>59</real>
			<key>height</key>
			<real>65</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>59</real>
			<key>originalHeight</key>
			<real>65</real>
		</dict>
		
		<key>InterfacePause.png</key>
		<dict>
			<key>x</key>
			<real>762</real>
			<key>y</key>
			<real>468</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>InterfacePortrait.png</key>
		<dict>
			<key>x</key>
			<real>322</real>
			<key>y</key>
			<real>229</real>
			<key>width</key>
			<real>175</real>
			<key>height</key>
			<real>210</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>175</real>
			<key>originalHeight</key>
			<real>210</real>
		</dict>
		
		<key>InterfaceStarLevel.png</key>
		<dict>
			<key>x</key>
			<real>712</real>
			<key>y</key>
			<real>557</real>
			<key>width</key>
			<real>56</real>
			<key>height</key>
			<real>54</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>56</real>
			<key>originalHeight</key>
			<real>54</real>
		</dict>
		
		<key>InterfaceTabOne.png</key>
		<dict>
			<key>x</key>
			<real>322</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>352</real>
			<key>height</key>
			<real>227</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>352</real>
			<key>originalHeight</key>
			<real>227</real>
		</dict>
		
		<key>InterfaceTabTwo.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>482</real>
			<key>width</key>
			<real>352</real>
			<key>height</key>
			<real>227</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>352</real>
			<key>originalHeight</key>
			<real>227</real>
		</dict>
		
		<key>SliderHorizontal.png</key>
		<dict>
			<key>x</key>
			<real>595</real>
			<key>y</key>
			<real>745</real>
			<key>width</key>
			<real>286</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>286</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>SliderHorizontalFill.png</key>
		<dict>
			<key>x</key>
			<real>322</real>
			<key>y</key>
			<real>441</real>
			<key>width</key>
			<real>257</real>
			<key>height</key>
			<real>12</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>257</real>
			<key>originalHeight</key>
			<real>12</real>
		</dict>
		
		<key>SliderVertical.png</key>
		<dict>
			<key>x</key>
			<real>833</real>
			<key>y</key>
			<real>228</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>431</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>431</real>
		</dict>
		
		<key>SliderVerticalFill.png</key>
		<dict>
			<key>x</key>
			<real>581</real>
			<key>y</key>
			<real>401</real>
			<key>width</key>
			<real>12</real>
			<key>height</key>
			<real>402</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>12</real>
			<key>originalHeight</key>
			<real>402</real>
		</dict>
</dict>
</plist>