<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Triangle32.png</key>
	<dict>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>64</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Square32.png</key>
	<dict>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>0</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Star32.png</key>
	<dict>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>96</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>ShapesEyes32.png</key>
	<dict>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Oddity32.png</key>
	<dict>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>96</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Honeycomb32.png</key>
	<dict>
		<key>x</key>
		<real>32</real>
		<key>y</key>
		<real>32</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Octagon32.png</key>
	<dict>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>0</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Diamond32.png</key>
	<dict>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>64</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>Circle32.png</key>
	<dict>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>32</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>CapRight32.png</key>
	<dict>
		<key>x</key>
		<real>64</real>
		<key>y</key>
		<real>32</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
	<key>CapLeft32.png</key>
	<dict>
		<key>x</key>
		<real>96</real>
		<key>y</key>
		<real>0</real>
		<key>width</key>
		<real>32</real>
		<key>height</key>
		<real>32</real>
	</dict>
</dict>
</plist>
