<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Antenna1Stand.png</key>
	<dict>
		<key>height</key>
		<real>28</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-19</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>44</real>
		<key>x</key>
		<real>58</real>
		<key>y</key>
		<real>408</real>
	</dict>
	<key>Antenna1Fall.png</key>
	<dict>
		<key>height</key>
		<real>28</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-19</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>44</real>
		<key>x</key>
		<real>58</real>
		<key>y</key>
		<real>408</real>
	</dict>
	<key>Antenna2Stand.png</key>
	<dict>
		<key>colored</key>
		<true/>
		<key>height</key>
		<real>102</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>14</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>180</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<key>Antenna2Fall.png</key>
	<dict>
		<key>colored</key>
		<true/>
		<key>height</key>
		<real>102</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>14</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>180</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<key>Antenna3Stand.png</key>
	<dict>
		<key>colored</key>
		<true/>
		<key>height</key>
		<real>118</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>10</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>92</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<key>Antenna3Fall.png</key>
	<dict>
		<key>colored</key>
		<true/>
		<key>height</key>
		<real>118</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>10</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>92</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<key>BodyFall.png</key>
	<dict>
		<key>height</key>
		<real>58</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-45</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>102</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>104</real>
	</dict>
	<key>BodyRise.png</key>
	<dict>
		<key>height</key>
		<real>60</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-46</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>98</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>226</real>
	</dict>
	<key>BodyStand.png</key>
	<dict>
		<key>height</key>
		<real>60</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-46</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>100</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>164</real>
	</dict>
	<key>Eyes1Fall.png</key>
	<dict>
		<key>height</key>
		<real>16</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-47</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>74</real>
		<key>x</key>
		<real>102</real>
		<key>y</key>
		<real>164</real>
	</dict>
	<key>Eyes1Rise.png</key>
	<dict>
		<key>height</key>
		<real>18</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-47</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>74</real>
		<key>x</key>
		<real>100</real>
		<key>y</key>
		<real>226</real>
	</dict>
	<key>Eyes1Stand.png</key>
	<dict>
		<key>height</key>
		<real>18</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-47</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>74</real>
		<key>x</key>
		<real>94</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<key>Eyes2Fall.png</key>
	<dict>
		<key>height</key>
		<real>22</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-43</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>432</real>
	</dict>
	<key>Eyes2Rise.png</key>
	<dict>
		<key>height</key>
		<real>22</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-43</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>162</real>
		<key>y</key>
		<real>104</real>
	</dict>
	<key>Eyes2Stand.png</key>
	<dict>
		<key>height</key>
		<real>22</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-44</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>104</real>
		<key>y</key>
		<real>104</real>
	</dict>
	<key>Eyes3Fall.png</key>
	<dict>
		<key>height</key>
		<real>22</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-43</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>182</real>
		<key>y</key>
		<real>24</real>
	</dict>
	<key>Eyes3Rise.png</key>
	<dict>
		<key>height</key>
		<real>22</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-43</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>182</real>
		<key>y</key>
		<real>0</real>
	</dict>
	<key>Eyes3Stand.png</key>
	<dict>
		<key>height</key>
		<real>22</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-43</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>0</real>
		<key>y</key>
		<real>408</real>
	</dict>
	<key>Eyes4Fall.png</key>
	<dict>
		<key>height</key>
		<real>14</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-46</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>182</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<key>Eyes4Rise.png</key>
	<dict>
		<key>height</key>
		<real>14</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-46</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>182</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<key>Eyes4Stand.png</key>
	<dict>
		<key>height</key>
		<real>14</real>
		<key>offsetX</key>
		<real>0</real>
		<key>offsetY</key>
		<real>-46</real>
		<key>originalHeight</key>
		<real>220</real>
		<key>originalWidth</key>
		<real>220</real>
		<key>width</key>
		<real>56</real>
		<key>x</key>
		<real>182</real>
		<key>y</key>
		<real>64</real>
	</dict>
</dict>
</plist>
