<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>Antenna1Fall.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>246</real>
			<key>width</key>
			<real>82</real>
			<key>height</key>
			<real>34</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>45</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Antenna1Stand.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>270</real>
			<key>width</key>
			<real>78</real>
			<key>height</key>
			<real>56</real>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>55</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Antenna2Fall.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>234</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>34</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>44</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Antenna2Stand.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>282</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>56</real>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>56</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Antenna3Fall.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>132</real>
			<key>width</key>
			<real>88</real>
			<key>height</key>
			<real>38</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>47</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Antenna3Stand.png</key>
		<dict>
			<key>x</key>
			<real>130</real>
			<key>y</key>
			<real>172</real>
			<key>width</key>
			<real>86</real>
			<key>height</key>
			<real>60</real>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>56</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>BodyFall.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>134</real>
			<key>height</key>
			<real>118</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-19</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>BodyRise.png</key>
		<dict>
			<key>x</key>
			<real>136</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>118</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-25</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>BodyStand.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>120</real>
			<key>width</key>
			<real>128</real>
			<key>height</key>
			<real>124</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-22</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes1Fall.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>340</real>
			<key>width</key>
			<real>58</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes1Rise.png</key>
		<dict>
			<key>x</key>
			<real>128</real>
			<key>y</key>
			<real>328</real>
			<key>width</key>
			<real>58</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes1Stand.png</key>
		<dict>
			<key>x</key>
			<real>60</real>
			<key>y</key>
			<real>366</real>
			<key>width</key>
			<real>58</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes2Fall.png</key>
		<dict>
			<key>x</key>
			<real>120</real>
			<key>y</key>
			<real>388</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes2Rise.png</key>
		<dict>
			<key>x</key>
			<real>188</real>
			<key>y</key>
			<real>330</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes2Stand.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes3Fall.png</key>
		<dict>
			<key>x</key>
			<real>56</real>
			<key>y</key>
			<real>426</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes3Rise.png</key>
		<dict>
			<key>x</key>
			<real>112</real>
			<key>y</key>
			<real>448</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes3Stand.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>460</real>
			<key>width</key>
			<real>54</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes4Fall.png</key>
		<dict>
			<key>x</key>
			<real>210</real>
			<key>y</key>
			<real>270</real>
			<key>width</key>
			<real>44</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes4Rise.png</key>
		<dict>
			<key>x</key>
			<real>82</real>
			<key>y</key>
			<real>306</real>
			<key>width</key>
			<real>44</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
		
		<key>Eyes4Stand.png</key>
		<dict>
			<key>x</key>
			<real>84</real>
			<key>y</key>
			<real>246</real>
			<key>width</key>
			<real>44</real>
			<key>height</key>
			<real>58</real>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>220</real>
			<key>originalHeight</key>
			<real>220</real>
		</dict>
</dict>
</plist>