<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArmLeft01</key>
	<dict>
		<key>location</key>
		<string>{{903,0},{113,94}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{169,150}</string>
	</dict>
	<key>ArmRight01</key>
	<dict>
		<key>location</key>
		<string>{{0,0},{49,136}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{113,130}</string>
	</dict>
	<key>ArmRight02</key>
	<dict>
		<key>location</key>
		<string>{{0,136},{38,122}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{113,130}</string>
	</dict>
	<key>ArmRight03</key>
	<dict>
		<key>location</key>
		<string>{{513,0},{114,124}}</string>
		<key>rotation</key>
		<integer>30</integer>
		<key>position</key>
		<string>{75,232}</string>
	</dict>
	<key>ArmRight04</key>
	<dict>
		<key>location</key>
		<string>{{154,0},{111,127}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{75,232}</string>
	</dict>
	<key>ArmRight05</key>
	<dict>
		<key>location</key>
		<string>{{265,0},{108,127}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{75,232}</string>
	</dict>
	<key>ArmRight06</key>
	<dict>
		<key>location</key>
		<string>{{49,592},{75,90}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{75,232}</string>
	</dict>
	<key>Butt01</key>
	<dict>
		<key>location</key>
		<string>{{49,682},{69,89}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{73,140}</string>
	</dict>
	<key>Body01</key>
	<dict>
		<key>location</key>
		<string>{{49,0},{105,129}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{95,150}</string>
	</dict>
	<key>Head01</key>
	<dict>
		<key>location</key>
		<string>{{764,0},{139,117}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head02</key>
	<dict>
		<key>location</key>
		<string>{{49,129},{140,117}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head03</key>
	<dict>
		<key>location</key>
		<string>{{49,363},{132,116}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head04</key>
	<dict>
		<key>location</key>
		<string>{{373,0},{140,124}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head05</key>
	<dict>
		<key>location</key>
		<string>{{49,479},{139,113}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head06</key>
	<dict>
		<key>location</key>
		<string>{{627,0},{137,122}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head07</key>
	<dict>
		<key>location</key>
		<string>{{49,246},{140,117}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Head08</key>
	<dict>
		<key>location</key>
		<string>{{49,363},{132,116}}</string>
		<key>rotation</key>
		<integer>32</integer>
		<key>position</key>
		<string>{103,229}</string>
	</dict>
	<key>Feet01</key>
	<dict>
		<key>location</key>
		<string>{{49,771},{78,75}}</string>
		<key>rotation</key>
		<integer>0</integer>
		<key>position</key>
		<string>{141,90}</string>
	</dict>
	<key>MonkeyFart</key>
	<dict>
		<key>Point</key>
		<string>{169,150}</string>
		<key>Fart01</key>
		<string>{{22,258},{27,24}}</string>
		<key>Fart01 - 2</key>
		<string>{{22,258},{27,24}}</string>
		<key>Fart02</key>
		<string>{{0,258},{22,35}}</string>
		<key>Fart02 - 2</key>
		<string>{{0,258},{22,35}}</string>
		<key>Fart03</key>
		<string>{{38,136},{11,22}}</string>
		<key>Fart03 - 2</key>
		<string>{{38,136},{11,22}}</string>
	</dict>
</dict>
</plist>
